# Ignore dataset files
dataset/*.txt
dataset/*.csv

# Ignore database
sql/*.db

# Ignore excel
excel/*.xlsx

# Ignore models (optional, but they can be large)
# models/*.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
.DS_Store
